<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ja784a.ukb.repository.AirlineMapper">
	<resultMap type="ja784a.ukb.domain.flights.model.Airline" id="airline">
		<id column="id" property="id"></id>
		<result column="airline_name" property="airlineName"></result>
		<result column="logo" property="logo"></result>
		<result column="s_airline_jp" property="sAirlineJp"></result>
		<result column="s_airline_eg" property="sAirlineEg"></result>
		<result column="two_letter" property="twoLetter"></result>
	</resultMap>
	<select id="selectAirlines" resultMap="airline">
		select * from airline 
	</select>
	
	<select id="selectAirline" resultMap="airline">
		select * from airline 
		where id = #{id} 
	</select>
	
	<insert id="insertAirline">
		insert into airline (airline_name, logo, s_airline_jp, s_airline_eg, two_letter) values 
		(#{airlineName}, #{logo}, #{sAirlineJp}, #{sAirlineEg}, #{twoLetter})
	</insert>
	
	<update id="updateAirline">
		update airline set 
		airline_name = #{airlineName}, 
		logo = #{logo}, 
		s_airline_jp = #{sAirlineJp}, 
		s_airline_eg = #{sAirlineEg}, 
		two_letter = #{twoLetter} 
		where id = #{id} 
	</update>
</mapper>