<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ja784a.ukb.repository.DestMapper">
	<resultMap type="ja784a.ukb.domain.flights.model.Dest" id="dest">
		<id column="id" property="id"></id>
		<result column="dest_jp" property="destJp"></result>
		<result column="dest_eg" property="destEg"></result>
		<result column="s_dest_jp" property="sDestJp"></result>
		<result column="s_dest_eg" property="sDestEg"></result>
	</resultMap>
	<select id="selectDests" resultMap="dest">
		select * from dest 
	</select>
</mapper>