<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airport.repository.RemarkMapper">
	<resultMap type="com.airport.domain.flights.model.Remark" id="remark">
		<id column="id" property="id"></id>
		<result column="remark_jp" property="remarkJp"></result>
		<result column="remark_eg" property="remarkEg"></result>
	</resultMap>
	<select id="selectRemarks" resultMap="remark">
		select * from remark 
	</select>
</mapper>