<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title　th:text="#{command-flights}"></title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-auto">
				<h5 th:text="#{command-flights}"></h5>
			</div>
		</div>
		<div class="row text-light bg-primary">
			<div class="col-1">
				<div th:text="#{dept-time-jp}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{changed-jp}"></div>
			</div>
			<div class="col-2">
				<div th:text="#{airline}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{flight}"></div>
			</div>
			<div class="col-2">
				<div th:text="#{destination-jp}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{gate-jp}"></div>
			</div>
			<div class="col-2">
				<div th:text="#{remark-jp}"></div>
			</div>
			<div class="col-1"></div>
		</div>
		<div th:each="flight:${timetable}">
			<div class="row border-bottom border-dark">
				<div class="col-1">
					<div th:text="${flight.deptTime}"></div>
				</div>
				<div class="col-1">
					<div th:text="${flight.newDeptTime}"></div>
				</div>
				<div class="col-2">
					<div th:text="${flight.airline.airlineName}"></div>
				</div>
				<div class="col-1">
					<div th:text="${flight.flight}"></div>
				</div>
				<div class="col-2">
					<div th:text="${flight.dest.destJp}"></div>
				</div>
				<div class="col-1">
					<div th:text="${flight.gate}"></div>
				</div>
				<div class="col-2">
					<div th:text="${flight.remark.remarkJp}"></div>
				</div>
				<div class="col-1">
					<a th:href="@{/edit-flight/{id} (id = ${flight.id})}" th:text="#{edit}"></a>
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-auto">
				<a th:href="@{/add-flight}" class="btn btn-primary" th:text="#{add-flight}"></a>
			</div>
		</div>
	</div>
	

</body>
</html>