<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{title}"></title>
	<meta http-equiv="refresh" content="5;url=ukb-timetable-eg">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}">
</head>
<body style="background-color: midnightblue;">
	<!--<script>
		let lastUrl = localStorage.getItem('lastUrl');
		
		const urlA = "ukb-timetable-jp";
		const urlB = "ukb-timetable-eg";
		
		const nextUrl = (lastUrl === urlA) ? urlB : urlA;
		
		localStorage.setItem('lastUrl', nextUrl);
		
		setTimeout(() => {
			window.location.href = nextUrl;
		}, 5000);
	</script> -->
	<div class="container text-light" style="width: 99%; height: 100vh;">
		<div class="row justify-content-center" style="height: 15%">
			<div class="col-auto">
				<h2 th:text="#{departure}"></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-1">
				<div th:text="#{dept-time-jp}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{changed-jp}"></div>
			</div>
			<div class="col" styoe="width: 180px;">
				<div th:text="#{flight-jp}"></div>
			</div>
			<div class="col-1"></div>
			<div class="col-2">
				<div th:text="#{destination-jp}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{gate-jp}"></div>
			</div>
			<div class="col-5">
				<div th:text="#{remark-jp}"></div>
			</div>
		</div>
		<div class="row" style="font-size: 15px;">
			<div class="col-1">
				<div th:text="#{dept-time-eg}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{changed-eg}"></div>
			</div>
			<div class="col" style="width: 180px;">
				<div th:text="#{flight-eg}"></div>
			</div>
			<div class="col-1"></div>
			<div class="col-2">
				<div th:text="#{destination-eg}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{gate-eg}"></div>
			</div>
			<div class="col-5">
				<div th:text="#{remark-eg}"></div>
			</div>
		</div>
		<div th:each="flight:${timetable}">
			<div class="row p-0" style="font-size: 20px; background-color: navy; height: 30px;">	
				<div class="col-1" style="height: 10%;">
					<div th:text="${#temporals.format(flight.deptTime, 'HH:mm')}"></div>
				</div>
				<div class="col-1" style="height: 10%;">
					<div class="text-warning" th:text="${#temporals.format(flight.newDeptTime, 'HH:mm')}"></div>
				</div>
				<div class="col p-0 d-flex align-item-center" style="height: 30px; width: 180px;">
					<img th:src="@{'/images/' + ${flight.airline.logo}}" style="height: 100%; width: 100%;">
				</div>
				<div class="col-1" style="height: 10%;">
					<div th:text="${flight.flight}"></div>
				</div>
				<div class="col-2" style="height: 10%;">
					<div th:text="${flight.dest.destJp}"></div>
				</div>
				<div class="col-1" style="height: 10%;">
					<div th:text="${flight.gate}"></div>
				</div>
				<div class="col-5" style="height: 10%;">
					<div th:classappend="${flight.remarkId eq 3 || flight.remarkId eq 4 ? 'text-warning' : ''}" 
					th:text="${flight.remark.remarkJp}"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>