<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{title}"></title>
	<meta http-equiv="refresh" content="5;url=/">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}">
</head>
<body style="background-color: midnightblue;">
	<div class="container text-light" style="width: 99%; height: 100vh;">
		<div class="row justify-content-center" style="height: 10%">
			<div class="col-auto">
				<h2 th:text="#{departure}"></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-1">
				<div th:text="#{dept-time-jp}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{changed-jp}"></div>
			</div>
			<div class="col" styoe="width: 180px;">
				<div th:text="#{flight-jp}"></div>
			</div>
			<div class="col-1"></div>
			<div class="col-2">
				<div th:text="#{destination-jp}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{gate-jp}"></div>
			</div>
			<div class="col-5">
				<div th:text="#{remark-jp}"></div>
			</div>
		</div>
		<div class="row" style="font-size: 15px;">
			<div class="col-1">
				<div th:text="#{dept-time-eg}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{changed-eg}"></div>
			</div>
			<div class="col" style="width: 180px;">
				<div th:text="#{flight-eg}"></div>
			</div>
			<div class="col-1"></div>
			<div class="col-2">
				<div th:text="#{destination-eg}"></div>
			</div>
			<div class="col-1">
				<div th:text="#{gate-eg}"></div>
			</div>
			<div class="col-2">
				<div th:text="#{remark-eg}"></div>
			</div>
			<div class="col-3">
				<div th:text="#{time} + ' ' + ${#dates.format(date, 'HH:mm')}"></div>
			</div>
		</div>
		<div th:each="flight:${timetable}">
			<div class="row p-0" style="font-size: 20px; background-color: navy; height: 30px;">	
				<div class="col-1" style="height: 10%;">
					<div th:text="${#temporals.format(flight.deptTime, 'HH:mm')}"></div>
				</div>
				<div class="col-1" style="height: 10%;">
					<div class="text-warning" th:text="${#temporals.format(flight.newDeptTime, 'HH:mm')}"></div>
				</div>
				<div class="col p-0 d-flex align-item-center" style="height: 30px; width: 180px;">
					<img th:src="@{'/images/' + ${flight.airline.logo}}" style="height: 100%; width: 100%;">
				</div>
				<div class="col-1" style="height: 10%;">
					<div th:text="${flight.airline.twoLetter} + ${flight.flight}"></div>
				</div>
				<div class="col-2" style="height: 10%;">
					<div th:text="${flight.dest.destEg}"></div>
				</div>
				<div class="col-1" style="height: 10%;">
					<div th:text="${flight.gate}"></div>
				</div>
				<div class="col-5" style="height: 10%;">
					<div th:classappend="${flight.remarkId eq 4 || flight.remarkId eq 5 ? 'text-warning' : ''}" 
					th:text="${flight.remark.remarkEg}"></div>
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-auto">
				<a th:href="@{/command-flights}" th:text="#{setting}"></a>
			</div>
		</div>
	</div>
	<script th:inlene="javascript">
		const text = ("[[${text}]]");
		const textEg = ("[[${textEg}]]");
		 const uttr1 = new SpeechSynthesisUtterance(text);
		 uttr.lang='ja-JP';
		 speechSynthesis.speak(uttr);
		 const uttr2 = new SpeechSynthesisUtterance(textEg);
		 uttr2.lang = 'en';
		 speechSynthesis.speak(uttr2);
	</script>
</body>
</html>